<div class="aui-search">
    <div class="aui-search-box">
        <aui-auto-complete
            remote="true"
            clearInvalid="true"
            [value]="value"
            [placeholder]="placeholder"
            [loadingText]="loadingText"
            [noResultsText]="noResultsText"
            [searchIncentiveText]="searchIncentiveText"
            [results]="suggestions"
            (search)="onSelect($event)"
            (select)="onSelect($event)">
        </aui-auto-complete>
        <div class="aui-search-icon" (click)="onSelect()">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>