
@import "~@a-ui/core/dist/assets/styles/_quarks";

/* Element m-search */
:host {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    display: block;

    @include at($screen-sm) {
        flex-direction: row;
        width: 80%;
    }
}

/* class m-search__box */
.m-search__box {
    width: 100%;
    position: relative;

    .a-input input {
        padding: 0 $spacer-lg 0 $spacer-xs;

        @include at($screen-sm) {
            padding: 0 $spacer-lg 0 $spacer;
        }
    }

    &--reverse {
       .a-button {
           right: auto;
           left: 0;
       }

        /deep/ .m-flyout__content {
            margin-left: -1px;
        }

        .a-input input {
            padding: 0 $spacer-xs 0 $spacer-xl;

            @include at($screen-sm) {
                padding: 0 $spacer-xs 0 $spacer-xl;
            }
        }
    }

    .a-button {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__bar {
        width: 100%;
    }
}

/* Fix for flyout */
/deep/ .m-flyout {
    width: 100%;

    .aui-auto-complete__info {
        border: 0;
    }

    &__content {
        margin-top:-1px;
        margin-right: -1px;
        width: calc(100% + 1px);
    }
}
