<div class="aui-search">
    <div class="aui-search-box" [class.aui-search-box-reverse]="iconLeft">
        <aui-auto-complete
            remote="true"
            placeholder=" "
            [id]="id"
            [ngModel]="searchValue?.value"
            [minCharacters]="minCharacters"
            [loadingText]="loadingText"
            [noResultsText]="noResultsText"
            [results]="suggestions"
            (select)="onSelect($event)"
            (search)="onSearch($event)">
        </aui-auto-complete>
        <div class="aui-search-icon" (click)="onSelect(query)">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>