<div class="aui-search">
    <div class="aui-search-box">
        <aui-auto-complete
            remote="true"
            clearInvalid="true"
            [label]="label"
            [ngModel]="searchValue?.value"
            [minCharacters]="minCharacters"
            [placeholder]="placeholder"
            [loadingText]="loadingText"
            [noResultsText]="noResultsText"
            [searchIncentiveText]="searchIncentiveText"
            [results]="suggestions"
            (select)="onSelect($event)"
            (search)="onSearch($event)">
        </aui-auto-complete>
        <div class="aui-search-icon" (click)="onSelect(query)">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>